{% extends 'wishlist/base.html' %}

{% block title %}
    <title xmlns="http://www.w3.org/1999/html">WishList</title>
{% endblock %}


{% block main_area %}

    <h1>WishList</h1>
    </br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if user.is_authenticated %}
            {#            {% if user.is_staff or user.is_superuser %}#}
            <a href="/wishlist/create_post" role="button" class="btn btn-outline-success">위시리스트 추가하기 :)</a>
            <a href="/wishlist/purchased_item" role="button" class="btn btn-outline-success">구매 목록</a>
            {#            {% endif %}#}
        {% endif %}
    </div>

    <div class="card my-4">
        <h5 class="card-header">태그</h5>
        <div class="card-body">
            {% if user.is_authenticated %}
                <ul class="nav">
                    {% for t in tags %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ t.get_absolute_url }}">{{ t.name }}
                                ({{ t.post_set.count }})</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    {% if tag %}
        <h5>{{ tag }}</h5>
    {% endif %}


    <!-- WishList Post -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if user.is_authenticated %}
            {% for p in post_list %}
                {% if p.purchase == False %}
                    <div class="col">
                        <div class="card h-100">
                            {% if p.head_image %}
                                <img src="{{ p.head_image.url }}" class="card-img-top" alt="Card image cap">
                            {% else %}
                                <img class="card-img-top" src="https://picsum.photos/seed/{{ p.pk }}800/200"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <a href="{{ p.get_absolute_url }}"><h4
                                        class="card-title">{{ p.title | truncatewords_html:30 }}</h4></a>
                                <p class="card-text">{{ p.price }}원</p>

                                <!-- Post Need -->
                                <div>필요함
                                    <div class="rateit" data-rateit-value="{{ p.need }}" data-rateit-ispreset="true"
                                         data-rateit-readonly="true"></div>
                                </div>

                                <!-- Post Want -->
                                <div>갖고싶음
                                    <div class="rateit" data-rateit-value="{{ p.want }}" data-rateit-ispreset="true"
                                         data-rateit-readonly="true"></div>
                                </div>

                                {#                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>#}
                                {% if p.tags.exists %}
                                    <br/>
                                    <i class="fas fa-tags"></i>
                                    {% for tag in p.tags.iterator %}
                                        <a href= {{ tag.get_absolute_url }}> {{ tag }}</a>
                                    {% endfor %}
                                    <br/>
                                    <br/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <br/>
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
{% endblock %}